body {
  font-family: Arial;
  background-color: #eee;
  margin: 1em;
}

h1 {
  color: #244751;
}

input {
  margin-top: .5em;
  padding: .4em;
  width: 14em;
}

textarea {
  padding: .4em;
  width: 14.4em;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 5px;
  margin: 2px;
  width: 18em;
  background-color: #ddd;
}

li.private {
  color: green;
}

li.server {
  color: blue;
}

li:hover {
  background-color: darkolivegreen;
  color: white;
}

li:hover a {
  color: white;
}

.notify {
  color: green;
  font-family: monospace;
  padding-bottom: 0.5em;
}

button.logout {
  margin-left: 0.5em;
}

.name {
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 0.5em;
  font-weight: bold;
  color: blue;
}

input {
  width: 16em;
}

p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}